/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

/* Wurbs */

body {
  font-family: "Noto Sans Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
      "wdth" 150;
  font-size: 16px;
  background-color: hsl(0 0% 5%);
  margin: 0;
}

body, a {
  color: hsl(0 0% 95%);
}

h1#title {
  color: hsl(30 90% 65%);
  margin: 1em 2ex;
}

.error {
  display: none;
  background-color: hsl(0 90% 65%);
  font-weight: 500;
}

.error p {
  padding: 0.5em 2ex;
  margin: 0;
  text-align: center;
}

.error p span.code {
  font-weight: 600;
  color: hsl(60 90% 65%);
}

button.close {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
}

.placeholder {
  color: hsl(0, 0%, 50%)
}

h1, h2, h3 {
  font-size: inherit;
  font-weight: 800;
  text-transform: uppercase;
}

p span.note {
  color: hsl(0 0% 45%)
}

form div.field,
form div.actions {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

form div#error p {
  background-color: hsl(0 90% 65%);
  font-weight: 500;
  color: white;
  padding: 0.5em 1ex;
}

form div.actions {
  flex-direction: row-reverse;
  column-gap: 2ex;
}

label {
  display: block;
  font-weight: 500;
}

input[type="text"], textarea {
  border: none;
  border-radius: 0;
  color: inherit;
  padding: 0.5em 1ex;
  background-color: hsl(0 0% 20%);
  font-size: inherit;
  resize: none;
  outline: none;
}

input[type="text"]:focus, textarea:focus {
  border: none;
  border-radius: 0;
}

input[type="text"] {
  display: block;
  width: auto;
}

input[type="text"],
button {
  font: inherit;
}

button, a.button {
  display: inline-block;
  font-weight: 500;
  border: 1px solid hsl(0 0% 30%);
  border-radius: 0;
  padding: 0.5em 2ex;
  color: inherit;
  text-decoration: none;
}

button.primary {
  background-color: hsl(240 90% 65%);
  color: white;
  border: none;
  font-weight: 600;
}

a.delete {
  background-color: hsl(0 90% 65%);
  color: white;
  border: none;
  font-weight: 600;
}
