package html

templ Error(message string) {
    if message != "" {
        <div id="error">
            <p>{ message }</p>
        </div>
    } else {
        <div id="error"></div>
    }
}

templ OobError(message string) {
    if message != "" {
        <div id="error" hx-target="#error" hx-swap-oob="true">
            <p>{ message }</p>
        </div>
    } else {
        <div id="error" hx-target="#error" hx-swap-oob="true"></div>
    }
}