package html

import (
	"github.com/zon/chat/core"
)

templ Index(user *core.User, alert string) {
	<body hx-boost="true">
        <div id="chat">
            <div id="head">
                <div id="menu">
                    <h1>Wurbs!</h1>
                    <p><a class="button" href={ user.Url() }>{ user.Name }</a></p>
                </div>
            </div>
            <div id="messages">
                if alert != "" {
                    <div id="alert">
                        <p>{ alert }</p>
                    </div>
                }
                <p class="placeholder">Post a message 👍</p>
            </div>
            @NewMessage()
        </div>
    </body>
}