package html

templ Scripts() {
    <script>
		function getMessage() {
			return document.getElementById('message')
		}
        
		function getMessageValue() {
			return getMessage().innerHTML
		}
	</script>
}