package html

import (
	"github.com/zon/chat/core"
)

templ User(user *core.User) {
    <p>Set your name. <span class="note">Can be changed at any time.</span></p>
    <form method="post" action={ user.Url() }>
        <div class="field">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" />
        </div>
        @Error("")
        <div class="actions">
            <button class="primary" type="submit">Set</button>
        </div>
    </form>
}